
# dependencies
node_modules
/.pnp
.pnp.js

#client side files
client/src/blockchainBuild

#server side files
server/artifacts
server/cache

# testing
server/coverage
server/coverage.json

# misc
.DS_Store
.env
.env.localS
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
