@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  overflow-y: auto;
}

@layer base {
  body {
    @apply bg-white dark:bg-gray-900 transition-colors duration-300;
  }
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  ::-webkit-scrollbar {
    width: 1px; 
    height: 1px; 
  }

  /* Scrollbar track */
  ::-webkit-scrollbar-track {
    @apply bg-gray-200 dark:bg-gray-800 rounded;
  }

  /* Scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    @apply bg-gray-400 dark:bg-gray-600 rounded;
    border: 2px solid transparent;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-500 dark:bg-gray-500;
  }
}