# ----------------------------------------------------------
# Example environment file for local development and testing
# ----------------------------------------------------------

# Dummy private key for Hardhat local network.
# DO NOT use your real private key here.
PRIVATE_KEY=0xaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

# For running tests locally, we use Hardhat's built-in RPC.
# These RPC URLs do NOT require real networks.
RPC_URL_AMOY=http://127.0.0.1:8545
RPC_URL_SEPOLIA=http://127.0.0.1:8545
RPC_URL_FUJI=http://127.0.0.1:8545
RPC_URL_BSC=http://127.0.0.1:8545

# Dummy API key
ETHERSCAN_KEY=dummy
